<div class="message-content">
  <div class="messages" #messageContainer>
    <div *ngFor="let message of fromUserMessage" class="message">
      <div [ngSwitch]="message.messageType">
        <div *ngSwitchCase="messageTypes.inviteToServer">
          <span class="invite-notify">向您发送了一个邀请，邀请您到服务器：<b>{{getInviteToServerData(message)}}</b></span>
          <div class="invite-btn">
            <button type="button" class="btn btn-primary btm-sm" (click)="resolveInvite(true, message)">接受</button>
            <button type="button" class="btn btn-warning btm-sm" (click)="resolveInvite(false, message)">拒绝</button>
          </div>
        </div>
        <div *ngSwitchCase="messageTypes.requestScreenShare">
          <div *ngIf="message.messageFrom['userId'] === authInfo.userId">
            <span class="invite-notify">申请分享桌面</span>
          </div>
          <div *ngIf="message.messageTo['userId'] === authInfo.userId">
            <span class="invite-notify">申请向您分享桌面</span>
            <div class="invite-btn">
              <button type="button" class="btn btn-primary btm-sm" (click)="resolveScreenShareInvite(true)">接受</button>
              <button type="button" class="btn btn-warning btm-sm" (click)="resolveScreenShareInvite(false)">拒绝</button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="messageTypes.responseScreenShare">
          <div class="message-from">
            <span class="user">{{message.messageFrom['username']}}</span>
            <span class="time">{{message.time|date: 'yyyy-MM-dd HH:mm:ss'}}</span>
          </div>
          <div class="message-content">
            {{parseTextMessage(message.message) == 0 ? '已接受' : '已拒绝'}}分享桌面
          </div>
        </div>
        <div *ngSwitchCase="messageTypes.text">
          <div class="message-from">
            <span class="user">{{message.messageFrom['username']}}</span>
            <span class="time">{{message.time|date: 'yyyy-MM-dd HH:mm:ss'}}</span>
          </div>
          <div class="message-content">
            {{parseTextMessage(message.message)}}
          </div>
        </div>
        <div *ngSwitchDefault></div>
      </div>
    </div>
  </div>
  <div class="input">
    <textarea placeholder="输入消息" #inputMsg (keydown)="keyDown($event)"></textarea>
    <div class="buttons">
      <button type="button" class="btn btn-primary btn-sm float-right"
              (click)="sendMessage()">&nbsp;&nbsp;发送&nbsp;&nbsp;
      </button>
      <span class="enter-warning float-right">按左Shift+Enter快捷发送</span>
    </div>
  </div>
</div>
