<div class="title-bar">
  <div class="plain-holder-left"></div>
  <div class="plain-holder-top"></div>
  <div class="title">{{title}}</div>
  <div class="electron-draggable"></div>
  <div class="icon-minimize" id="icon-minimize" (click)="minimizeWindow()"><i class="fa fa-window-minimize"></i></div>
  <div class="icon-maximize" id="icon-maximize" (click)="maximizeWindow()">
    <i class="fa" [ngClass]="{'fa-window-maximize': !max, 'fa-window-restore': max}"></i>
  </div>
  <div class="icon-remove" id="icon-remove" (click)="closeWindow()"><i class="fa fa-remove"></i></div>
</div>
