@sidebar-bg-color: #393836;
@left-bg-color: #292929;

.title-bar {
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  z-index: 100;
  background-color: @left-bg-color;
  -webkit-user-select: none;
  display: flex;

  .plain-holder-left {
    display: inline-block;
    width: 10px;
  }

  .plain-holder-top {
    position: absolute;
    height: 5px;
    width: 100%;
  }

  .title {
    font-style: italic;
    font-weight: bolder;
    font-size: 18px;
  }

  .electron-draggable {
    flex: 1;
    height: 25px;
    margin-top: 5px;
    -webkit-app-region: drag;
  }

  .icon-minimize {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    margin-top: 3px;
  }

  .icon-maximize {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    margin-top: 3px;
  }

  .icon-remove {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    margin-top: 3px;
  }
}
