<div class="sidebar">
  <div class="user-info">
    <div class="avatar"></div>
  </div>
  <div class="sidebar-navs">
    <div class="nav-item">
      <a href="javascript:;" routerLink="/app/main" routerLinkActive="active" title="主页">
        <i class="fa fa-home"></i>
      </a>
    </div>
    <div class="nav-item" *ngFor="let server of servers">
      <a href="javascript:;" [routerLink]="'/app/server/' + server.id" routerLinkActive="active"
         title="{{server.serverName}}">
        <img [src]="'data:image/png;base64,' + server.avatar">
      </a>
    </div>
    <div class="nav-item">
      <a href="javascript:;" title="添加" (click)="addServer()">
        <i class="fa fa-plus-circle"></i>
      </a>
    </div>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
