@sidebar-w: 60px;
@sidebar-bg-color: #393836;
@left-bg-color: lighten(@sidebar-bg-color, 10%);

.on-loading {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
  display: flex;
  flex-direction: column;

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-width: 6px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 30px;
  width: @sidebar-w;
  height: 100%;
  overflow-y: auto;
  color: #fff;
  background: #393836;
}

::-webkit-scrollbar {
  width: 0;
}

.user-info {
  position: fixed;
  top: 30px;
  left: 0;
  height: @sidebar-w + 10px;
  background: #292929;
  width: @sidebar-w;

  .avatar {
    height: 60px;
    background: url("../../../assets/images/logo.png") center no-repeat;
  }

  .user {
    width: @sidebar-w;
    height: 30px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #dc904f;
      }
    }
  }
}

.sidebar-navs {
  margin-top: @sidebar-w + 20;
  padding: 0 5px;

  .nav-item {
    img {
      width: 28px;
      border-radius: 15px;
    }

    a {
      border-radius: 4px;
      display: inline-block;
      position: relative;
      font-size: .9rem;
      font-weight: 300;
      color: #fff;
      text-decoration: none;
      width: @sidebar-w - 10;
      padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      i {
        font-size: 2em;
      }

      &.active {
        background-color: #c48047;
      }

      &:hover {
        background-color: #e79951;
      }
    }
  }
}

.content {
  position: relative;
  margin-left: @sidebar-w;
  height: 100%;

  .route-content {
    padding-top: 30px;
    height: 100%;
  }

  .user-label {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    padding: 10px;
    height: 50px;
    text-align: center;
    background-color: darken(@left-bg-color, 5%);

    .username {
      font-size: 18px;
      font-weight: bolder;
    }

    .tag {
      color: rgba(255, 255, 255, .5);
      font-size: 14px;
    }

    img {
      width: 30px;
      padding: 4px;
      border-radius: 15px;
      background-color: @left-bg-color;
      margin-right: 5px;
    }

    .user-icon {
      padding: 0 5px;
      color: #fff;
      text-decoration: none;

      &.talking {
        color: #53a720;
      }
    }

  }
}

.screen-share {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  display: none;
  // for debugging only
  //display: flex;
  //width: 800px;
  //height: 450px;
  border: 1px solid #292929;
  background-color: lighten(#292929, 10%);
  z-index: 101;
  flex-direction: column;

  .options {
    height: 23px;
    background: lighten(#292929, 5%);
    cursor: move;
    z-index: 100;

    .title {
      position: absolute;
      left: 10px;
      font-size: 14px;
      color: #ccc;
    }

    > div {
      cursor: pointer;
      color: #ccc;
    }

    .margins-maximize {
      position: absolute;
      right: 40px;
    }

    .margins-minimize {
      position: absolute;
      right: 70px;

      &.be-second {
        right: 40px;
      }
    }

    .margins-remove {
      position: absolute;
      right: 10px;
    }
  }

  .video-content {
    width: 100%;
    height: 100%;
    margin-top: -23px;
    padding-top: 23px;
    flex: 1;
    z-index: 99;

    video {
      width: 100%;
      height: 100%;
    }
  }

  .hide {
    display: none;
  }
}

.resize-handle-top-left,
.resize-handle-bottom-right {
  position: absolute;
  height: 5px;
  width: 5px;
  cursor: nw-resize;
  z-index: 102;
}

.resize-handle-top-left {
  top: 0;
  left: 0;
}

.resize-handle-bottom-right {
  right: 0;
  bottom: 0;
}

.resize-handle-top-right,
.resize-handle-bottom-left {
  position: absolute;
  height: 5px;
  width: 5px;
  cursor: ne-resize;
  z-index: 102;
}

.resize-handle-top-right {
  top: 0;
  right: 0;
}

.resize-handle-bottom-left {
  left: 0;
  bottom: 0;
}

.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 5px;
  cursor: row-resize;
  width: 100%;
  z-index: 101;
}

.resize-handle-top {
  top: 0;
}

.resize-handle-bottom {
  bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 5px;
  z-index: 101;
}

.resize-handle-left {
  left: 0;
}

.resize-handle-right {
  right: 0;
}
