<div class="full-w-title">
  <app-title-bar></app-title-bar>
</div>
<div *ngIf="!ready" class="on-loading">
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>正在加载</div>
</div>
<div class="sidebar" *ngIf="ready">
  <div class="user-info">
    <div class="avatar"></div>
  </div>
  <div class="sidebar-navs">
    <div class="nav-item">
      <a href="javascript:;" routerLink="/app/main" routerLinkActive="active" title="主页">
        <i class="fa fa-home"></i>
      </a>
    </div>
    <div class="nav-item" *ngFor="let server of servers">
      <a href="javascript:;" [routerLink]="'/app/server/' + server.id" routerLinkActive="active"
         [title]="server.serverName">
        <img [src]="'data:image/png;base64,' + server.avatar">
      </a>
    </div>
    <div class="nav-item">
      <a href="javascript:;" title="添加" (click)="addServer()">
        <i class="fa fa-plus-circle"></i>
      </a>
    </div>
  </div>
</div>
<div class="content" *ngIf="ready">
  <div class="user-label">
    <img [src]="'data:image/png;base64,' + authInfo.avatar">
    <span class="username">{{authInfo.username}}</span>
    <span class="tag">#{{authInfo.tag}}</span>
  </div>
  <div class="route-content">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="screen-share" #screenShare>
  <div class="resize-handle-top" (mousedown)="startResizing($event, resizeDirections.top)"></div>
  <div class="resize-handle-left" (mousedown)="startResizing($event, resizeDirections.left)"></div>
  <div class="resize-handle-right" (mousedown)="startResizing($event, resizeDirections.right)"></div>
  <div class="resize-handle-bottom" (mousedown)="startResizing($event, resizeDirections.bottom)"></div>
  <div class="resize-handle-top-left" (mousedown)="startResizing($event, resizeDirections.top_left)"></div>
  <div class="resize-handle-top-right" (mousedown)="startResizing($event, resizeDirections.top_right)"></div>
  <div class="resize-handle-bottom-left" (mousedown)="startResizing($event, resizeDirections.bottom_left)"></div>
  <div class="resize-handle-bottom-right" (mousedown)="startResizing($event, resizeDirections.bottom_right)"></div>
  <div class="options" (mousedown)="startDragging($event)">
    <span class="title" [ngClass]="{'hide': minScreenShare}">分享桌面</span>
    <div class="margins-minimize" (click)="minimizeScreenShare()"
         (mousedown)="$event.stopPropagation()" [ngClass]="{'be-second': minScreenShare}">
      <i class="fa" [ngClass]="{'fa-window-minimize': !minScreenShare, 'fa-window-restore': minScreenShare}"></i>
    </div>
    <div class="margins-maximize" (click)="maximizeScreenShare()" [ngClass]="{'hide': minScreenShare}"
         (mousedown)="$event.stopPropagation()">
      <i class="fa" [ngClass]="{'fa-window-maximize': !maxScreenShare, 'fa-window-restore': maxScreenShare}"></i>
    </div>
    <div class="margins-remove" (click)="closeScreenShare()"
         (mousedown)="$event.stopPropagation()">
      <i class="fa fa-remove"></i>
    </div>
  </div>
  <div class="video-content">
    <video id="local-stream" [ngClass]="{'hide': minScreenShare}"></video>
    <video id="remote-stream" [ngClass]="{'hide': minScreenShare}"></video>
  </div>
</div>
